<article id="page-content" class="cookie static doc">
	{{#if (eq page.layout '404')}}
		<h1>{{{or page.title 'Page Not Found'}}}</h1>
		<div class="paragraph">
		<p>The page you're looking for does not exist. It may have been moved.</p>
		</div>
		<div class="paragraph">
		<p>If you arrived on this page by clicking on a link, please notify the owner of the site that the link is broken.
		If you typed the URL of this page manually, please double check that you entered the address correctly.</p>
		</div>
	{{else}}
		{{#if page.title}}
			<h1>{{{page.title}}}</h1>
		{{/if}}
		
		<h2>Your Privacy</h2>
		<p>When you visit any web site, it may store or retrieve information on your browser, mostly in the form of cookies. This information might be about you, your preferences or your device and is mostly used to make the site work as you expect it to. The information does not usually directly identify you, but it can give you a more personalised web experience.</p>
		<p>Because we respect your right to privacy, you <a class="optanon-toggle-display">can choose</a> not to allow some types of cookies. Below is a list of the cookies that get set on the akka.io domain. Blocking some types of cookies may impact your experience of the site and the services we are able to offer.</p>
		<p><a class="optanon-toggle-display btn">COOKIE SETTINGS</a></p>
		<h2>Cookie Listing</h2>
		<!-- OneTrust Cookies List start -->
		<div id="optanon-cookie-policy"></div>
		<!-- OneTrust Cookies List end -->

		{{{page.contents}}}
	{{/if}}
</article>