<svg width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 50.4">
    <title>discuss</title>
    <path d="M18.2,36.2V18.8H7.6A5.59,5.59,0,0,0,2,24.4V41.2a5.59,5.59,0,0,0,5.6,5.6h2.8v8.4l8.4-8.4h14a5.59,5.59,0,0,0,5.6-5.6V36.1c-.2,0-.4.1-.6.1ZM52.4,4.8H27.2a5.59,5.59,0,0,0-5.6,5.6V32.8H41.2l8.4,8.4V32.8h2.8A5.59,5.59,0,0,0,58,27.2V10.4A5.59,5.59,0,0,0,52.4,4.8Z" transform="translate(-2 -4.8)" fill="#ffffff" class="svg-fill"></path>
</svg>