<nav>
	<section>
		<h3>Documentation</h3>
		<ul>
			<li><a href="https://developer.lightbend.com/docs/introduction/">Introducing Lightbend Technologies</a></li>
			<li><a class="navbar-item" href="https://akka.io/docs/">Akka</a></li>
			<li><a class="navbar-item" href="https://doc.akka.io/docs/alpakka/current/">Alpakka</a></li>
			<li><a href="https://doc.akka.io/docs/akka-enhancements/current/akka-resilience-enhancements.html">Akka Resilience Enhancements</a></li>
			<li><a href="https://doc.akka.io/docs/akka-enhancements/current/akka-persistence-enhancements.html">Akka Persistence Enhancements</a></li>
			<li><a href="https://cloudflow.io/docs/current/">Cloudflow</a></li>
			<li><a href="https://developer.lightbend.com/docs/fortify/current/">Fortify SCA for Scala</a></li>		
		</ul>
	</section>
	<section>
		<ul>
			<li><a class="navbar-item" href="https://www.lagomframework.com/documentation/">Lagom Framework</a></li>
			<li><a href="https://developer.lightbend.com/docs/console/current/">Lightbend Console</a></li>
			<li><a class="navbar-item" href="https://www.playframework.com/documentation">Play Framework</a></li>
			<li><a class="navbar-item" href="https://www.scala-sbt.org/documentation.html">sbt</a></li>
			<li><a class="navbar-item" href="https://docs.scala-lang.org/">Scala</a></li>
			<li><a href="https://developer.lightbend.com/docs/telemetry/current/home.html">Lightbend Telemetry</a></li>			
		</ul>
	</section>

	<section>
		<h3>Resources</h3>
		<ul>
			<li><a href="https://portal.lightbend.com/">Customer Portal</a></li>
			<li><a href="https://discuss.lightbend.com">Discussion Forums</a></li>
			<li><a href="https://www.lightbend.com/blog">Blog</a></li>
			<li><a href="https://www.lightbend.com/learn/lightbend-reactive-architecture">Free Training</a></li>
			<li><a href="https://www.lightbend.com/certified-reactive-architect">Certification</a></li>
			<li><a href="https://www.lightbend.com/contact">Ask A Question</a></li>
		</ul>
	</section>
	<section>
		<h3>Lightbend</h3>
		<ul>
			<li><a href="https://www.lightbend.com/about-lightbend">Who Is Lightbend?</a></li>
			<li><a href="https://www.lightbend.com/customers">Who Uses Lightbend?</a></li>
			<li><a href="https://www.lightbend.com/lightbend-platform-subscription">Why Get A Subscription?</a></li>
			<li><a href="https://www.lightbend.com/company/news">News & Press</a></li>
			<li><a href="https://shop.lightbend.com/">Online Swag Shop</a></li>
			<li><a href="https://www.lightbend.com/contact">Get In Contact</a></li>
		</ul>
	</section>
</nav>