<header class="header" role="banner">
  <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
          <img class="header-logo cloudflow-logo" src="{{uiRootPath}}/img/cloudflow-reverse.svg">
        </a>
        <a href="" id="site-id" class="site-id cloudflow-id">Documentation</a>
        <button class="navbar-burger" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div id="topbar-nav" class="navbar-menu">
        <div class="navbar-end">
          
          <div class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">Documentation</span>
            <div class="navbar-dropdown">
              <section>
                <header><a href="https://developer.lightbend.com/docs/introduction/">Other Lightbend Technologies</a></header>
                <a href="https://doc.akka.io/docs/akka-enhancements/current/akka-resilience-enhancements.html">Akka Resilience Enhancements</a>
                <a href="https://doc.akka.io/docs/akka-enhancements/current/akka-persistence-enhancements.html">Akka Persistence Enhancements</a>
                <a href="https://developer.lightbend.com/docs/fortify/current/">Fortify SCA for Scala</a>
                <a href="https://developer.lightbend.com/docs/console/current/">Lightbend Console</a>                          
                <a href="https://developer.lightbend.com/docs/telemetry/current/home.html">Lightbend Telemetry</a>
              </section>
              <section class="no-header">
                <a href="https://akka.io/docs/">Akka</a>
                <a href="https://doc.akka.io/docs/alpakka/current/">Alpakka</a>
                <a href="https://www.lagomframework.com/documentation/">Lagom Framework</a>
                <a href="https://www.playframework.com/documentation">Play Framework</a>
                <a href="https://www.scala-sbt.org/documentation.html">sbt</a>
                <a href="https://docs.scala-lang.org/">Scala</a>
              </section>
            </div>
          </div>
          
          <div class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">Resources</span>
            <div class="navbar-dropdown">
              <section>
                  <a href="https://portal.lightbend.com/">Customer Portal</a>
                  <a href="https://discuss.lightbend.com">Discussion Forums</a>
                  <a href="https://www.lightbend.com/blog">Blog</a>
                  <a href="https://www.lightbend.com/learn/lightbend-reactive-architecture">Free Training</a>
                  <a href="https://www.lightbend.com/certified-reactive-architect">Certification</a>
                  <a href="https://www.lightbend.com/contact">Ask A Question</a>
              </section>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">Lightbend</span>
            <div class="navbar-dropdown">
              <section>
                  <a href="https://www.lightbend.com/about-lightbend">Who Is Lightbend?</a>
                  <a href="https://www.lightbend.com/customers">Who Uses Lightbend?</a>
                  <a href="https://www.lightbend.com/lightbend-platform-subscription">Why Get A Subscription?</a>
                  <a href="https://www.lightbend.com/company/news">News & Press</a>
                  <a href="https://shop.lightbend.com/">Online Swag Shop</a>
                  <a href="https://www.lightbend.com/contact">Get In Contact</a>
              </section>
            </div>
          </div>
        
        </div>
      </div>
  </nav>
</header>