<header class="header" role="banner">
  <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
          <img class="header-logo cloudflow-logo" src="{{uiRootPath}}/img/cloudflow-reverse.svg">
        </a>
        <a href="" id="site-id" class="site-id cloudflow-id">Documentation</a>
        <button class="navbar-burger" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div id="topbar-nav" class="navbar-menu">
        <div class="navbar-end">
          
          
        
        </div>
      </div>
  </nav>
</header>