<div id="lightbend-banner" class="lightbend-banner cloudflow full-width" data-category="OSS Lightbend Banner Impression" data-label="Cloudflow Banner Impression">
	<div class="oss-wrapper">
		<div class="oss-brand">
			<a class="oss-track-link-label" data-category="OSS Lightbend Banner Clicks" data-label="Lightbend Logo - Cloudflow Banner" href="https://www.lightbend.com?r=oss-banner-cloudflow" target="_blank">
				<img class="lightbend-logo" src="{{uiRootPath}}/img/banner-logos/lightbend-reverse.svg" alt="Lightbend" title="Lightbend">
			</a>
		</div>
	</div>
</div>