etc/bootstrap-local.conf

.class
*.log
.history

target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/activator-sbt*
examples/*/target-env.sbt

.env

# IntelliJ
.idea/
*.iml
*.iws

# Metals
.metals/
.bloop/
metals.sbt

# Mac
.DS_Store

# vim swap files
*.swp
.*.swp

.vscode

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

kubectl-pipelines

/Gopkg.lock
/vendor

*.swp

.idea
binaries
