etc/bootstrap-local.conf

.class
*.log
.history

target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/activator-sbt*
examples/*/target-env.sbt

.env
.bsp

# IntelliJ
.idea/
*.iml
*.iws

# Metals
.metals/
.bloop/
metals.sbt

# Mac
.DS_Store

# vim swap files
*.swp
.*.swp

.vscode

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

kubectl-pipelines

/Gopkg.lock
/vendor

*.swp

# Docs
binaries
.cache/
docs-source/test-ui-site.yml
build/
docs/docs-source/docs/modules/ROOT/examples/
##
docs/view.sh
docs/shared-content-source/docs/modules/develop/examples

/examples/call-record-aggregator/project/
/examples/spark-sensors/project/.boot/
/examples/spark-sensors/project/.sbtboot/java9-rt-ext-amazon_com_inc__11_0_10/
/examples/spark-sensors/project/.sbtboot/zinc/org.scala-sbt/
/examples/spark-sensors/project/.sbtboot/zinc/.sbt.cache.lock
