etc/bootstrap-local.conf

.class
*.log
.history

target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/activator-sbt*

.env

**/values.sbt

# IntelliJ
.idea/
*.iml
*.iws

# Mac
.DS_Store

# vim swap files
*.swp
.*.swp

target-env.sbt
dg-data.sh
