<!DOCTYPE html>
<html lang="en">
  <head>
	{{> head defaultPageTitle='Untitled'}}
	<link rel="stylesheet" href="{{uiRootPath}}/css/cloudflow.home.css">
  </head>
  <body class="blue-theme home oss-banner article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
	{{> oss-banner}}
	<article id="page-content" class="home-content">

		<header>
			<span>
				<img class="homepage-logo" src="{{uiRootPath}}/img/cloudflow-reverse.svg" alt="Cloudflow Logo" title="Cloudflow Logo">
				<h1>Streaming Data Pipelines on Kubernetes</h1>
			</span>
		</header>
		<nav class="home-toc">
			<ul>
				<li><a href="docs/current/index.html">{{> cloudflow-icon-reverse-flush-svg}}Documentation</a></li>
				<li><a href="https://github.com/lightbend/cloudflow">{{> github-white-svg}}Contribute</a></li>
				<li><a href="https://discuss.lightbend.com/c/cloudflow">{{> discuss-white-svg}}Discuss</a></li>
				<li><a href="https://cloudflow.zulipchat.com/">{{> zulip-white-svg}}Zulip</a></li>
			</ul>
		</nav>
		<main class="content">
			<section>
				
				<h3>Your Privacy</h3>
				<p>When you visit any web site, it may store or retrieve information on your browser, mostly in the form of cookies. This information might be about you, your preferences or your device and is mostly used to make the site work as you expect it to. The information does not usually directly identify you, but it can give you a more personalised web experience.</p>
				<p>Because we respect your right to privacy, you <a href="#" onclick="OneTrust.ToggleInfoDisplay();">can choose</a> not to allow some types of cookies. Below is a list of the cookies that get set on the cloudflow.io domain. Blocking some types of cookies may impact your experience of the site and the services we are able to offer.</p>
				<p><a onclick="OneTrust.ToggleInfoDisplay();" class="btn">COOKIE SETTINGS</a></p>
				<!-- OneTrust Cookies List start -->
				<div id="ot-sdk-cookie-policy"></div>
				<!-- OneTrust Cookies List end -->

			</section>
		</main>
	</article>
	<footer class="footer">
		<img class="cloudflow-icon" src="{{uiRootPath}}/img/cloudflow-icon-full-color-flush.svg">
		{{> footer-legal-lightbend}}
	</footer>
	{{> footer-scripts}}

  </body>
</html>