<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} | {{site.title}}{{/if}}</title>
{{> head}}
  </head>
  <body class="article">
{{> header}}
{{> main}}
{{> footer}}
  </body>
</html>
