<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="blue-theme oss-banner article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> oss-banner}}
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>