*#
*.log
*.orig
*.jfr
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
.DS_Store
.cache
.classpath
.history
.idea
.bsp
.bloop
.metals
.sbtopts
logs
tmp
target
/build
cloudflow.adoc
cloudflow-cli/src/graal
cloudflow-it/src/it/resources/swiss-knife.json
cloudflow-it/generated-spark-values.yaml
/project/metals.sbt
