<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <logger name="akka" level="${LOGLEVEL_AKKA:-OFF}" />
  <root level="${LOGLEVEL_ROOT:-OFF}">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <target>System.out</target>
      <encoder>
        <pattern>%d{ISO8601} %-5level [%logger{0}] - %msg%n</pattern>
      </encoder>
    </appender>
  </root>
</configuration>
