on:
  # Trigger the workflow on push or pull request,
  # push only for the master branch
  # PR for all branches
  push:
    branches:
      - master
  pull_request:


name: Build and Test
jobs:
  build-and-test-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build documentation
      run: |
        cd docs
        make html-author-mode
        grep -r "page unresolved" target/staging/docs/ && exit 1 || echo 'ok'
  build-and-test-scala:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup environment
      run: |
        make -C .github/workflows/setup setup-local-all

    - name: Cache SBT Coursier cache
      uses: actions/cache@v1
      with:
        path: ~/.cache/coursier
        key: ${{ runner.os }}-sbt-coursier-cache-${{ hashFiles('**/build.sbt') }}
        restore-keys: |
          ${{ runner.os }}-sbt-coursier-cache-

    - name: Cache SBT
      uses: actions/cache@v1
      with:
        path: ~/.sbt
        key: ${{ runner.os }}-sbt-home-${{ hashFiles('**/build.sbt') }}
        restore-keys: |
          ${{ runner.os }}-sbt-home-

    - name: build-and-test
      env:
        SBT_OPTS: -Xms512M -Xmx2048M -Xss2M -XX:MaxMetaspaceSize=1024M
      run: |
        export PATH="$HOME/opt/sbt/bin:$PATH"
        cd scripts
        ./build-all.sh test


  build-and-test-cli:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2.0.3
      with:
        go-version: 1.14.2
      id: go

    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Check code format
      run: |
        cd kubectl-cloudflow
        if [[ $(go fmt ./...) ]]; then
          echo "go fmt check failed"
          exit 1
        else
          echo "go fmt check success"
        fi

    - name: Build
      run: |
        set -e
        cd kubectl-cloudflow
        make test

  build-and-test-integration-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2.0.3
      with:
        go-version: 1.14.2
      id: go

    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Build
      run: |
        set -e
        cd integration-tests/itest
        go test -c
